#totalMonthly {
   
    /* position: absolute;
    right: 0px; */
}
#monthlyEl {
    /* position: absolute;
    right: 0px; */
    /* display: flex;
    text-align: center;
    align-content: flex-end;  */
}