/* #submitButton {
    margin: 3% 0%;
    display: inline-flexbox;
} */



.blankRow {
    height: 24px !important; /* trying to get the "footer" to be same height as header, as in the wireframe. */
}

body {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    background-color: aliceblue;
}